!!!
%html{html_attrs}
  %head
    %title hello, world
  %body
    %div
      hello, world
    %script{:type => "text/javascript", :src=>"spec_helper.js"}

/ Local Variables:
/ mode:auto-revert
/ End:

