[submodule "vendor/jasmine"]
	path = vendor/jasmine
	url = git://github.com/smparkes/jasmine.git
[submodule "vendor/jquery"]
	path = vendor/jquery
	url = git://github.com/jquery/jquery.git
[submodule "vendor/qunit"]
	path = vendor/qunit
	url = git://github.com/jquery/qunit.git
[submodule "vendor/json2"]
	path = vendor/json2
	url = git@github.com:smparkes/json2.git
