!!!
%html{html_attrs}
  %head
    %title Hello, World
  %body
    %div
      Hello, World
    %script{:type => "text/javascript", :src=>"SpecHelper.js"}

/ Local Variables:
/ mode:auto-revert
/ End:

