!!!
%html{html_attrs}
  %head
    %title jazz specs
  %body
    %script{:type => "text/javascript", :src=>"../../vendor/jquery/dist/jquery.js"}
    %script{:type => "text/javascript", :src=>"../../vendor/json2/json2.js"}
    :javascript
      (function(){
        var global = (function(){return this;}());
        global.jazz = global.jazz || {};
        global.jazz.helper = global.jazz.helper || "../../lib/jazz/spec_helper.js";
        document.write("<script type='text/javascript' src='"+global.jazz.helper+"'></s"+"cript>");

        var base = window.location.toString().match(/(\?|&)base=([^&]+)/);
        if (base) {
          global.jazz.app_root = global.jazz.app_root || base[2];
          // console.debug("base",global.jazz.app_root);
        }
        var match = window.location.toString().match(/(\?|&)specs=([^&]+)/);
        // console.debug("match",match);
        if(match){
          var specs = JSON.parse(unescape(match[2]));
          for(var i=0; i < specs.length; i++ ) {
            document.write("<script type='text/javascript' src='" + specs[i] +"'></s"+"cript>");
          }
        }
      }());

